@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 95vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 20px;

    padding: 5px 20px;
   

}

.content{

    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(230, 229, 229);
    width: 55%;
    height: 90vh;
}

.content img{
    position: relative;

    width:85% ;
}

.form{
    width: 35%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     border-radius: 25px;
    box-shadow: 0 0 20px rgb(230, 229, 229);

}





table tr{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 2px;
    
}
table tr td {
   
    width: 40%;
    
}

table tr td:hover{
   width: 42%;
   color: rgb(85, 92, 92);
}

table tr td label{
    
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
}

table tr td input{
    font-size: 16px;
    margin-top: 5px;
    border: 2px solid white;
    box-shadow: 0 0 20px rgb(210, 209, 209);
    border-radius: 15px;
    outline: none;
    padding: 7px 40px;
    font-family: 'Poppins', sans-serif;
    
    
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5rem;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(191, 75, 220);
    font-family: 'Poppins', sans-serif;
}

#login:hover{
    width: 17.7rem;
    background-color: blueviolet;
}

form h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

#reg{
    margin-left: 15px;
}
